/.ds_store
/.elasticbeanstalk
/.elasticbeanstalk/*
/.env
/.env.backup
/.env.testing
/.git
/.ide-helper.php
/.idea
/.phpstorm.meta.php
/.phpunit.result.cache
/.vscode
/.scribe

/assets
/homestead.json
/homestead.yaml
/node_modules
/npm-debug.log
/public/assets
/public/hot
/public/storage
/storage/*.key
/vendor
/yarn-error.log
/resources/views/scribe

!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
