packages:
  yum:
    awslogs: []

files:
  "/etc/awslogs/awscli.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [plugins]
      cwlogs = cwlogs
      [default]
      region = `{"Ref":"AWS::Region"}`

  "/etc/awslogs/awslogs.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [general]
      state_file = /var/lib/awslogs/agent-state

  "/etc/awslogs/config/logs.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [/var/app/current/supervisord.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/app/current/supervisord.log"]]}`
      log_stream_name = {instance_id}
      file = /var/app/current/supervisord.log

  "/etc/awslogs/config/laravel-logs.conf" :
      mode: "000600"
      owner: root
      group: root
      content: |
        [/var/app/current/storage/logs/laravel.log]
        log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/app/current/storage/logs/laravel.log"]]}`
        log_stream_name = {instance_id}
        file = /var/app/current/storage/logs/laravel.log

  "/etc/awslogs/config/laravel-worker-log.conf" :
        mode: "000600"
        owner: root
        group: root
        content: |
          [/var/app/current/storage/logs/laravel-worker.log]
          log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/app/current/storage/logs/laravel-worker.log"]]}`
          log_stream_name = {instance_id}
          file = /var/app/current/storage/logs/laravel-worker.log

  "/etc/awslogs/config/cfn-init.log" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [/var/log/cfn-init.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/cfn-init.log"]]}`
      log_stream_name = {instance_id}
      file = /var/log/cfn-init.log

commands:
  "01":
    command: systemctl enable awslogsd.service
  "02":
    command: systemctl restart awslogsd
