packages:
    yum:
        ImageMagick: []
        ImageMagick-devel: []

commands:
    01_install_imagickphp:
        cwd: /tmp
        test: "php -r \"exit(extension_loaded('imagick') ? 1 : 0);\""
        command: |
           wget https://pecl.php.net/get/imagick -O imagick \
            && tar xvzf imagick \
            && cd imagick-* \
            && phpize \
            && ./configure \
            && make \
            && make install \
            && echo extension=imagick.so > /etc/php.d/imagick.ini